<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:59392/Service1.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
    name="BasicHttpBinding_IService1" />
  </client>
  <services>
			<service name="PMS_WCF_Integration.Service1">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:59392/Service1.svc" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="PMS_WCF_Integration.IService1" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Enable metadata exchange and debugging -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
